<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Source Creative has everything you need to get your campaigns up and running in no time. Personalized promotions made simple with our All-in-One platform. Start free trial Now!</p>
                <a href="#" class="btn btn-default btn-xl">Start free trial</a>
            </div>
        </div>
    </div>
</section>
